header {
  background-image: url("../img/bakgroudimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  display: flex;
  margin-bottom: 15px;
}

body {
  background-color: black;
}

.container {
  background-color: white;
  border-radius: 10px;

  margin-bottom: 15px;
}
.datos img {
  width: 237px;
  border-radius: 50px;
  padding: 10px;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: center;

  margin-top: 3px;
}

.parrafodatos {
  color: white;
  margin-left: 50px;
}

.parrafodatos p {
  margin-top: 25px;
  text-align: justify;
  margin-right: 45px;
  font-size: 16px;

  background-color: white;
  opacity: 0.8;
  color: black;
  border-radius: 10px;
  padding: 15px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Nanum Brush Script", cursive;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  font-size: 40px;
  background-color: rgb(49, 4, 4);
  border-width: thin;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

h3 {
  text-align: center;
  background-color: rgb(49, 4, 4);
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Azeret Mono", monospace;
}

.iconos {
  text-align: center;
  font-size: 80px;
}

i {
  color: rgb(255, 255, 255);
}

/*--------------------*/

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .datos img {
    margin-left: 70px;
  }

  .parrafodatos p {
    margin-right: 50px;
    font-size: 15px;
  }

  h2 {
    margin-left: 55px;
  }
}
